<h1>{{title}}</h1>


<ul class="recipe-list">
	<li *ngFor="let recipe of recipes"
		[class.selected]="recipe === selectedRecipe"
		(click)="onSelect(recipe)">
		{{recipe.title}}	
	</li>
</ul>

<recipe-detail [recipe]="selectedRecipe"></recipe-detail>




<!--
	<ul>
    	<li *ngFor="let recipe of recipes">
      		<h2>{{recipe.title}}</h2>

      		<h3>Ingredients</h3>
    	  	<ul>
    	  		<li *ngFor="let item of recipe.ingredients">
    	  			{{ item.item }}
    	  		</li>
    	  	</ul>

    	  	<h3>Steps</h3>
    	  	<ul>
    	  		<li *ngFor="let step of recipe.steps">
    	  			{{ step.step }}
    	  		</li>
    	  	</ul>
    	</li>
	</ul>

	category: 'Sea Food',
		level: 'Hard',
		prep_time: 20,
		total_time: 40

-->